[Unit]
Description=Reset iptables rules on startup

[Service]
Type=oneshot
ExecStart=/root/Bash/iptables_reset.sh

[Install]
WantedBy=multi-user.target
